# Block private Google Cloud Service Account Credentials
google_creds.json
*.json

# Block local Python and Mage cache folders
__pycache__/
*.pyc
.block_cache/
.pipeline_cache/
mage_user_config.yaml

# Block general system/IDE junk
.vscode/
.idea/
.DS_Store